body {
  font-family: "Avenir Next";
}

.header {
  background-color: #26d0c9;
  color: #fff;
  text-transform: uppercase;
  height: 90px;
}

.header a {
    color: #fff;
}

.header a:hover {
    color: #2f5167;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}

.header-image {
  border-radius: 100%;
}

.main {
  padding: 100px 80px;
}

.main a {
  color: #2f5167;
}

.main a:hover {
  color: #26d0c9;
}

.icon {
  border: solid 0.5em rgba(144, 144, 144, 0.25);
  border-radius: 100%;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

/* SNS */
#sns {
    background: #FAF7F0;
    padding: 4% 0;
}
#sns .wrapper {
    display: flex;
    justify-content: space-between;
}
#sns .sub-title {
    margin-bottom: 30px;
}
.sns-box {
    width: 30%;
}

.contact-form {
  padding-top: 100px;
}

/* inputとtextareaのCSSを指定してください */
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #26d0c9;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  list-style: none;
  padding-bottom: 20px;
}
